body {
    background: #27db93;
    background: -webkit-linear-gradient(to right, #99ffe0, #27db93); 
    background: linear-gradient(to right, #99ffe0, #27db93);
}

.navbar {
        background: #27db93;
        background: -webkit-linear-gradient(to right, #99ffe0, #27db93); 
        background: linear-gradient(to right, #99ffe0, #27db93);
}

.offcanvas {
    background: #a8ff78;
}
